<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<form action="/mo3" method="POST">
			<input name="Id" type="text" placeholder="Product ID" />
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>